{% extends "page/base.html" %}

{% block title %}HT{% endblock %}

{% block content %}
<div class="container-about">
    <h3 class="margin text-center">This is site for those who love to travel</h3>
</div>
{% endblock %}