{% extends "page/base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    {% if not user.siteuser.avatar.url%}
    <div class="col-md-8">
        <img class="img-responsive" src="{% static "nofoto.jpg" %}" width="500" height="500">
        <form action="{% url "add_avatar" %}" class="navbar-form navbar-left" method="post" enctype="multipart/form-data">
            {{ form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-default">Add</button>
        </form>
    </div>
    {% else %}
    <div class="col-md-8">
        <img class="img-responsive" src="{{ user.siteuser.avatar.url }}" width="200" height="200">
    </div>
    {% endif %}
    <div class="col-md-4">
        <h3>Username: {{ user.username }}</h3>
        <p> Last name: {{ user.last_name }}</p>
        <p> First name: {{ user.first_name }}</p>
        <p> Email: {{ user.email }}</p>
        <p>Registration: {{ user.date_joined }}</p>
        <p>Last login: {{ user.last_login }}</p>
        {% if user.last_name == ""  or user.first_name == "" %}
        <a href="{% url "add_data" %}"> Add personal data </a>
        {% else %}
        <a href="{% url "add_data" %}"> Change personal data </a>
        {% endif %}
        <hr>
    </div>
    <div>
    {% if perms.page.add_country and perms.page.add_city and perms.page.add_hotel %}
    <a href="{% url "form_country" %} "><p> Add Country </p></a>
    <a href="{% url "form_city" %} "><p> Add City </p></a>
    <a href="{% url "form_hotel" %} "><p> Add Hotel </p></a>
    {% endif %}
    </div>
</div>
{% endblock %}


<!--<form action="{% url 'add_avatar' %}" class="navbar-form navbar-left" method="post" enctype="multipart/form-data">-->
            <!--<div class="form-group">-->
                <!--{{ form }}-->
            <!--</div>-->
    <!--{% csrf_token %}-->
  <!--<button type="submit" class="btn btn-default">Add</button>-->
