<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "ht.ico" %}">
  <title>{% block title %}HT{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
  <link  rel="stylesheet" href="{%static "base_css.css" %}">
</head>
<body>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>HappyTravel</h1>
        <p>Travel with a smile</p>
      </div>
    </div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url "main_page" %}">Main</a></li>
            <li><a href="{% url "countries" %}">Countries</a></li>
            <li><a href="{% url "about"%}">About</a></li>
            <li><a href="{% url "reviews"%}">Reviews</a></li>
          </ul>
            {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" action="{% url "search" %}" method="get">
              <input type="text" name="q">
                <select name="my_select">
                    <option value="country">Country</option>
                    <option value="city">City</option>
                    <option value="hotel">Hotel</option>
                </select>
              {% csrf_token %}
                <input type="submit" value="Search">
                </form>
            <li><a>Hello {{ user.username| title}}</a></li>
            <li><a href="{% url "account" %}"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
            <li><a href="{% url "site_logout"%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
             {% else %}
            <form class="navbar-form navbar-right" action="/login?next={{request.path}}" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="Username" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" name="password" class="form-control">
                    </div>
                     {% csrf_token %}
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            {% endif %}
        </div>
      </div>
    </nav>
   <div class="container">
    <div class="content">
{% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <strong>Ooops!</strong> {{ message }}
         </div>
        {% endfor %}
{% endif %}
    {% block content %}
        <h1>Empty page</h1>
        <p class="lead">Add content here</p>
    {% endblock content %}
    </div>

</div>

    {% block footer %}
        <footer class="container-fluid text-center">
            <p>Site created by Evgeni Romanchikov <a href="{% url "main_page" %}">www.happytravel.com</a></p>
        </footer>
    {% endblock %}
</body>
</html>

