{% extends "page/base.html" %}
{% block title %}{{ city.title }}{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-8">
        <img class="img-responsive" src="{{ city.image.url }}" width="1000" height="1000">
    </div>
    <div class="col-md-4">
        <h3>{{ city.title }}({{city.country}})</h3>
        <p>{{ city.description }}</p>
        <h4>Hotels</h4>
        <ul>
            {% for hotel in hotels %}
            <li><a href="{% url "hotel" hotel.id %}"> {{ hotel }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
