{% extends "page/base.html" %}
{% block title %}Countries{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
{% for country in countries %}
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"> {{ country.title }}</div>
            <div><a class="panel-body"><a href="{% url "country" country.id %}">
                <img src="{{country.image.url}}" class="my-image" style="width:100%" alt="Image"/></a>
            </div>
        </div>
    </div>
{% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if countries.has_previous %}
            <a href="?page={{ countries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ countries.number }} of {{ countries.paginator.num_pages }}.
        </span>

        {% if countries.has_next %}
            <a href="?page={{ countries.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

