{% extends "page/base.html" %}
{% block title %}{{ country.title }}{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-8">
        <img class="img-responsive" src="{{ country.image.url }}" width="1000" height="1000">
    </div>
    <div class="col-md-4">
        <h3>{{ country.title }}</h3>
        <p>{{ country.description }}</p>
        <h4>Cities</h4>
        <ul>
        {% for city in cities %}
            <li><a href="{% url "city" city.id %}"> {{ city }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

