{% extends "page/base.html" %}
{% block title %}Add Hotel{% endblock %}
{% block content %}
<div class="container"></div>
<div class="row">
    <h2>Add Hotel</h2>
<form action="" class="navbar-form navbar-left" method="post" enctype="multipart/form-data">
    <table>
     {{ form.as_table }}
    </table>
{% csrf_token %}
  <button type="submit" class="btn btn-default">Add</button>
</form>
</div>
<hr>
{% endblock %}