{% extends "page/base.html" %}
{% block title %}{{ hotel.title }}{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="col-md-8">
        <img class="img-responsive" src="{{ hotel.image.url }}" width="1000" height="1000">
    </div>
    <div class="col-md-4">
        <h3>{{ hotel.title }}({{hotel.city}})</h3>
        <p>{{ hotel.description }}</p>
    </div>
    {% if user.is_authenticated %}
    <p>
        <a href="{% url "add_like" hotel.id %}">
            <img src="{% static "like.jpg" %}"  width="15" height="15">{{hotel.like}}
        </a>
    </p>
    {% else %}
     <p><img src="{% static "like.jpg" %}"  width="15" height="15">{{hotel.like}}</p>
    {% endif %}
    {% load comments %}
    {% get_comment_count for hotel as comments_count %}
    <p> All comments: {{comments_count}}</p>
    {% get_comment_list for hotel as comments %}
    {% for comment in comments %}
    <div class="row">
    <div class="col-md-9 comment">
         <div class="user">{{comment.user_name}}</div>
        <div class="content">{{comment.comment}}</div>
        <div class="date">{{comment.submit_date}}</div>
    </div>
    </div>
    <hr>
    {% endfor %}
    {% if user.is_authenticated %}
    {% get_comment_form for hotel as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    <div id="id_honeypot"> {{ form.honeypot }} </div>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'hotel' hotel.id %}" />
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% endif %}
</div>
{% endblock %}

