{% extends "page/base.html" %}
{% block content %}
    <div class="container">
    <div class="text-center"> <h1>Countries</h1></div>
    <br>
    {% for country in countries %}
    {% if forloop.first %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for unused in countries %}
            {% if forloop.first %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% endif %}

            {% if forloop.first %}
            <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
                    <a href="{% url "country" country.id %}">
                        <img src="{{ country.image.url }}" alt="{{country.name}}">
                    </a>
                    <div class="carousel-caption">
                        <h3>{{country.name}}</h3>
                    </div>
                </div>

            {% if forloop.last %}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% endif %}
        {%empty%}
        <div class="text-center"> <h1>No data</h1></div>
        {% endfor %}
    </div>
{% endblock %}