{% extends "page/base.html" %}
{% block title %}Reviews{% endblock %}
{% block content %}
{% for review in reviews %}
<div class="row">
    <div class="user">{{ review.user }}</div>
    <div class="content">{{ review.text }}</div>
    <div class="date">{{ review.date }}</div>
    {% if review.user == user.username  or perms.page.delete_review %}
    <a href="{% url "delete_review" review.id%}">
        <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span>
    </a>
    {% endif %}
</div>
<hr>
{%empty%}
<div class="text-center"> <h1>No reviews</h1></div>
{% endfor %}
<div class="row">
{% if user.is_authenticated %}
<form action="{% url "add_review" %} class="navbar-form navbar-left" method="POST">
     <textarea class="form-control" rows="3" name="text" cols="100" placeholder="Write your review"></textarea>
{% csrf_token %}
  <button type="submit" class="btn btn-default">Add review</button>
</form>
</div>
{% endif %}
{% endblock %}
