{% extends "page/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for i in search_res %}
        <div class="col-6 col-sm-6 col-lg-6">
            {%if search_id == 'country' %}
            <h2><a href="{% url "country" i.id %}">{{ i.title }} </a><h2>
            <img src="{{i.image.url}}" class="my-image" style="width:100%" alt="Image"/></a>
            {% elif search_id == 'city' %}
             <h2><a href="{% url "city" i.id %}">{{ i.title }} </a><h2>
            <img src="{{i.image.url}}" class="my-image" style="width:100%" alt="Image"/></a>
            {% elif search_id == 'hotel' %}
             <h2><a href="{% url "hotel" i.id %}">{{ i.title }} </a><h2>
            <img src="{{i.image.url}}" class="my-image" style="width:100%" alt="Image"/></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
