.navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }
      .container-about{

      padding-top: 85px;
      padding-bottom: 85px;
     }


    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner > .item > img,
     .carousel-inner > .item > a > img {
        width: 80%;
        height: 500px;
        margin: auto;
     }
     .my-image {
     width: 150px;
     height: 200px;
     }


     #id_honeypot {
    display: none;
    }

   .comment div {
   padding: 4px;
   }
   .user{
   background-color: #eeeeee;
   font-weight: bold;
   }
   .date{
   background-color: #eeeeee;
   font-style: italic;
   text-align: right;
   }

   .comment-image{
    width: 20px;
    height: 20px;
   }